{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.{css,scss,sass,less}",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": [
    "prettier-plugin-packagejson"
  ],
  "packageJson": {
    "sort": true,
    "sortOrder": [
      "name",
      "version",
      "description",
      "main",
      "scripts",
      "keywords",
      "author",
      "license",
      "dependencies",
      "devDependencies",
      "peerDependencies",
      "optionalDependencies",
      "engines",
      "publishConfig",
      "repository",
      "bugs",
      "homepage",
      "contributors",
      "files",
      "bin",
      "man",
      "directories",
      "config",
      "browser",
      "browserify",
      "maintainers",
      "os",
      "cpu",
      "preferGlobal",
      "private",
      "publishConfig",
      "workspaces",
      "resolutions",
      "overrides"
    ]
  }
} 